.input {
	width: 100%;
	height: 32px;
	padding: 4px 10px;
	border-radius: 6px;
	border: 1px solid var(--s3d-color-border-input);
	background: var(--s3d-color-bg-input);
	color: inherit;
	font-size: 14px;
	line-height: 1.5715;
}

.input:disabled {
	background: var(--s3d-color-bg-disabled);
	cursor: not-allowed;
}
