server:
  allowRemote: true
  apiToken: "ci-token"

image:
  repository: s3desk
  tag: "latest"

resources:
  requests:
    cpu: "100m"
    memory: "128Mi"
  limits:
    cpu: "500m"
    memory: "512Mi"

persistence:
  enabled: false
