{
	auto_https disable_redirects
}

https://s3desk.local:8443, https://localhost:8443 {
	tls internal
	reverse_proxy 127.0.0.1:8080 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Real-IP {remote_host}
		header_up X-Forwarded-Proto {scheme}
	}
	encode gzip
}
